# Api URLS
## https://www.alphavantage.co/documentation/
## https://datahub.io/core/s-and-p-500-companies#data-cli

In [2]:
# import dependencies
import csv

# API Dependencies
import requests
import json
from pandas.io.json import json_normalize # deal with nested columns in api

# data science libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Config file keys.  We can import multiple keys variales in here
from config import av_key # api key for alpha vantage

In [9]:
# determine the top companies from datahub stock cli
data_url = "https://datahub.io/core/s-and-p-500-companies-financials/r/constituents-financials.csv"
datahub_df = pd.read_csv(data_url) # raw_df

# sector data
sector_df = datahub_df.groupby("Sector").sum() 
most_price_df = sector_df.nlargest(3, 'Price')
most_price_df

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Sector,,,,,,,,,,
Consumer Discretionary,10418.90,2119.49,132.082638,409.84,12342.2399,8071.758553,3213562747315,2.941510e+11,191.164584,2440.66
Information Technology,8347.00,2602.59,85.994554,217.70,9714.5049,6432.399100,6727121800912,4.313397e+11,411.609970,761.15
Health Care,8083.46,1406.27,55.951842,264.77,9806.2706,6326.874430,3244359043367,2.231056e+11,294.461598,540.34

In [5]:
# whichever sectors have the highester market cap will 

market_cap_df = sector_df.nlargest(3, 'Market Cap')

sub_df

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Sector,,,,,,,,,,
Information Technology,8347.00,2602.59,85.994554,217.70,9714.5049,6432.39910,6727121800912,4.313397e+11,411.609970,761.15
Financials,6055.81,1169.53,137.172367,301.71,6923.8857,4943.22380,3442649464852,3.597660e+10,228.356354,458.00
Health Care,8083.46,1406.27,55.951842,264.77,9806.2706,6326.87443,3244359043367,2.231056e+11,294.461598,540.34

In [43]:
# ALPHA VANTAGE API SCRAPING

# will need function, symbol, and api key in order to import the json from the api
url_alpha_vantage = "https://www.alphavantage.co/" 

# url variables
function = "TIME_SERIES_DAILY"
symbol = "MSFT"
outputsize = "full" # full or compact (100 latest vs all data)
query = url_alpha_vantage + "query?" + "function=" + function + "&symbol=" + symbol +"&outputsize=" + outputsize + "&apikey=" + av_key  
url_response = requests.get(query).json()

# pretty print the json
# print(json.dumps(url_response, indent=4, sort_keys=True))

In [51]:
# create a data frame from the json
microsoft_df = pd.DataFrame.from_dict(url_response, orient = 'columns')

# only look at data from the past 3 years 
microsoft_df = microsoft_df.tail(730)