# Api URLS
## https://www.alphavantage.co/documentation/
## https://datahub.io/core/s-and-p-500-companies#data-cli

In [8]:
# import dependencies
import csv

# API Dependencies
import requests
import json
from pandas.io.json import json_normalize # deal with nested columns in api

# data science libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Config file keys.  We can import multiple keys variales in here
from config import av_key # api key for alpha vantage

In [29]:
# determine the top companies from datahub stock cli
data_url = "https://datahub.io/core/s-and-p-500-companies-financials/r/constituents-financials.csv"
datahub_df = pd.read_csv(data_url) # raw_df

# sector data - RKY: why do we use .sum() instead of .mean() here?
sector_df = datahub_df.groupby("Sector").sum() 


#sorts the sectors and shows the three largest according to price... 
# It is very important to note that calling this nlargest method creates a new DataFrame.
# This is important because groupby data is harder to access, manipulate, output in my (RKY) opinion than DataFrames.
most_price_df = sector_df.nlargest(3, 'Price')

display(most_price_df)

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Sector,,,,,,,,,,
Consumer Discretionary,10418.90,2119.49,132.082638,409.84,12342.2399,8071.758553,3213562747315,2.941510e+11,191.164584,2440.66
Information Technology,8347.00,2602.59,85.994554,217.70,9714.5049,6432.399100,6727121800912,4.313397e+11,411.609970,761.15
Health Care,8083.46,1406.27,55.951842,264.77,9806.2706,6326.874430,3244359043367,2.231056e+11,294.461598,540.34

In [25]:
# whichever sectors have the highest market cap will shown following the call below. 

market_cap_df = sector_df.nlargest(3, 'Market Cap')

display(market_cap_df)

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Sector,,,,,,,,,,
Information Technology,8347.00,2602.59,85.994554,217.70,9714.5049,6432.39910,6727121800912,4.313397e+11,411.609970,761.15
Financials,6055.81,1169.53,137.172367,301.71,6923.8857,4943.22380,3442649464852,3.597660e+10,228.356354,458.00
Health Care,8083.46,1406.27,55.951842,264.77,9806.2706,6326.87443,3244359043367,2.231056e+11,294.461598,540.34

In [23]:
# ALPHA VANTAGE API SCRAPING

# will need function, symbol, and api key in order to import the json from the api
url_alpha_vantage = "https://www.alphavantage.co/" 

# url variables
function = "TIME_SERIES_DAILY"
symbol = "MSFT"
outputsize = "full" # full or compact (100 latest vs all data)

# Following the query will show you a xml(?) page, which you should do because it is good for understanding.
# I've uncommented the print(query) command so you can click on the link and see for yourself (don't abuse Ram's key!)
query = url_alpha_vantage + "query?" + "function=" + function + "&symbol=" + symbol +"&outputsize=" + outputsize + "&apikey=" + av_key  
url_response = requests.get(query).json()


print(query)
# commented out as part of testing process
# pretty print the json
# print(json.dumps(url_response, indent=4, sort_keys=True))

https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=MSFT&outputsize=full&apikey=A2JKUWFZLQ7633GK

In [22]:
# create a data frame from the json
# I'm renaming this thing two times to show the logic - we are getting three year data for one company, Microsoft,
# then, we are accessing the Time Series (Daily) dict metadata (first out of five), then I am abbreviating it.
microsoft_df = timeseries_df = ts_df = pd.DataFrame.from_dict(url_response["Time Series (Daily)"])


# artifacts from testing (ignore unless you want to try things out yourself.)
# microsoft_df = pd.DataFrame.from_dict(url_response, orient = 'columns')
#microsoft_df = microsoft_df.tail(730)

# only look at data from the past 3 years 
ts_df = ts_df.T.head(730)

# Rename columns so they don't look unprocessed and bad.
# create the dictionary to pass to the rename method.
re_col = {"1. open": "Open", "2. high": "High", "3. low": "Low","4. close": "Close", "5. volume": "Volume"}

# baptize the columns.
ts_df = ts_df.rename(columns = re_col)

display(ts_df.head(730))

                Open      High       Low     Close     Volume
2019-03-01  112.8900  113.0200  111.6650  112.5300   23501169
2019-02-28  112.0400  112.8800  111.7300  112.0300   29083934
2019-02-27  111.6900  112.3600  110.8800  112.1700   21487062
2019-02-26  111.2600  113.2400  111.1700  112.3600   21536733
2019-02-25  111.7600  112.1800  111.2600  111.5900   23750599
2019-02-22  110.0500  111.2000  109.8200  110.9700   27763218
2019-02-21  106.9000  109.4800  106.8700  109.4100   29063231
2019-02-20  107.8600  107.9400  106.2900  107.1500   21607671
2019-02-19  107.7900  108.6600  107.7800  108.1700   18038460
2019-02-15  107.9100  108.3000  107.3624  108.2200   26606886
2019-02-14  106.3100  107.2900  105.6600  106.9000   21784703
2019-02-13  107.5000  107.7800  106.7100  106.8100   18394869
2019-02-12  106.1400  107.1400  105.4800  106.8900   25056595
2019-02-11  106.2000  106.5800  104.9650  105.2500   18914123
2019-02-08  104.3900  105.7800  104.2603  105.6700   21461093
2019-02-07  105.1850  105.5900  104.2900  105.2700   29760697
2019-02-06  107.0000  107.0000  105.5300  106.0300   20609759
2019-02-05  106.0600  107.2700  105.9600  107.2200   27325365
2019-02-04  102.8700  105.8000  102.7700  105.7400   31315282
2019-02-01  103.7750  104.0999  102.3500  102.7800   35535690
2019-01-31  103.8000  105.2200  103.1800  104.4300   55636391
2019-01-30  104.6200  106.3800  104.3300  106.3800   49471866
2019-01-29  104.8800  104.9700  102.1700  102.9400   31490547
2019-01-28  106.2600  106.4800  104.6600  105.0800   29476719
2019-01-25  107.2400  107.8800  106.5900  107.1700   31218193
2019-01-24  106.8600  107.0000  105.3400  106.2000   23164838
2019-01-23  106.1200  107.0400  105.3400  106.7100   25874294
2019-01-22  106.7500  107.1000  104.8600  105.6800   32371253
2019-01-18  107.4600  107.9000  105.9100  107.7100   37427587
2019-01-17  105.0000  106.6250  104.7600  106.1200   28393015
...              ...       ...       ...       ...        ...
2016-05-18   50.4800   51.1400   50.3000   50.8100   24907532
2016-05-17   51.7200   51.7300   50.3600   50.5100   27803514
2016-05-16   50.8000   51.9600   50.7500   51.8300   20032017
2016-05-13   51.4400   51.8950   51.0400   51.0800   22592342
2016-05-12   51.2000   51.8100   50.9200   51.5100   24102781
2016-05-11   51.1300   51.7800   51.0000   51.0500   24039140
2016-05-10   50.3300   51.1000   50.1900   51.0200   22890966
2016-05-09   50.4900   50.5850   50.0000   50.0700   17951598
2016-05-06   49.9200   50.3900   49.6600   50.3900   24787301
2016-05-05   49.8700   50.3000   49.7300   49.9400   25390718
2016-05-04   49.8400   50.0600   49.4600   49.8700   24257556
2016-05-03   50.3400   50.4100   49.6000   49.7800   26460244
2016-05-02   50.0000   50.7500   49.7799   50.6100   33114539
2016-04-29   49.3500   50.2500   49.3500   49.8700   48411684
2016-04-28   50.6200   50.7700   49.5600   49.9000   43134846
2016-04-27   51.4800   51.5000   50.5500   50.9400   43369256
2016-04-26   52.2600   52.3500   51.0900   51.4400   33532636
2016-04-25   51.7800   52.1300   51.6300   52.1100   33226948
2016-04-22   51.9100   52.4297   50.7700   51.7800  126834091
2016-04-21   55.8000   56.2300   55.4150   55.7800   38909096
2016-04-20   56.2900   56.5000   55.4850   55.5900   36195714
2016-04-19   56.6300   56.7700   55.6800   56.3900   29596827
2016-04-18   55.4900   56.5900   55.2100   56.4600   23785950
2016-04-15   55.3000   55.9200   55.1100   55.6500   28793753
2016-04-14   55.2200   55.5750   55.0700   55.3600   20877108
2016-04-13   55.1200   55.4375   54.8900   55.3500   20817961
2016-04-12   54.3700   54.7800   53.7600   54.6500   24944288
2016-04-11   54.4900   55.1500   54.3000   54.3100   21414227
2016-04-08   54.6700   55.2800   54.3200   54.4200   22167223
2016-04-07   54.8700   54.9100   54.2300   54.4600   19225092

[730 rows x 5 columns]